{% extends "userhome/base.html" %}
{% load static %}



{% block content %}
<div class="page-content"> 
    <!--start product details-->
    <section class="section-padding">
     <div class="container mt-5">
        
      <form action="" method="post" class="col-md-4 mx-auto bg-white p-4 rounded shadow text-center">
         {% csrf_token %}
         <h4 class="mb-4">OTP Verification</h4>
         <div class="form-group">
             <label for="entered_otp">Enter Current password</label>
             <input type="text" name="password" id="entered_otp" class="form-control" required>
         </div>
         <button type="submit" class="btn btn-success mt-4">Submit</button>
     </form>

        
     </div>
   </section>
    <!--start product details-->
 
 
  </div>
   <!--end page content-->


{% endblock %}