{% extends "userhome/base.html" %}
{% load static %}

{% block head %}
<style>
   .card {
       border: 1px solid #ccc;
       border-radius: 8px;
       padding: 16px;
       margin-bottom: 16px;
   }

   .coupon {
       background-color: #f9f9f9;
       border: 1px solid #ddd;
       padding: 12px;
       margin-bottom: 8px;
       border-radius: 4px;
   }

   .account-menu a {
       text-decoration: none;
   }
</style>
{% endblock %}

{% block content %}
<div class="page-content">
   <section class="section-padding">
      <div class="container">
         <div class="d-flex align-items-center px-3 py-2 border mb-4">
            <div class="text-start">
               <h4 class="mb-0 h4 fw-bold">Account - Profile</h4>
            </div>
         </div>

         <div class="btn btn-dark btn-ecomm d-xl-none position-fixed top-50 start-0 translate-middle-y"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarFilter">
            <span><i class="bi bi-person me-2"></i>Account</span>
         </div>

         <div class="row">
            <div class="col-12 col-xl-3 filter-column">
               <nav class="navbar navbar-expand-xl flex-wrap p-0">
                  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarFilter" aria-labelledby="offcanvasNavbarFilterLabel">
                     <div class="offcanvas-header">
                        <h5 class="offcanvas-title mb-0 fw-bold text-uppercase" id="offcanvasNavbarFilterLabel">Account</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                     </div>
                     <div class="offcanvas-body account-menu">
                        <div class="list-group w-100 rounded-0">
                           <a href="account-dashboard.html" class="list-group-item"><i class="bi bi-house-door me-2"></i>Dashboard</a>
                           <a href="{% url 'order_list' %}" class="list-group-item"><i class="bi bi-basket3 me-2"></i>Orders</a>
                           <a href="{% url 'user_profile' %}" class="list-group-item "><i class="bi bi-person me-2"></i>Profile</a>
                           <a href="{% url 'check_current_password' %}" class="list-group-item"><i class="bi bi-pencil me-2"></i>change password</a>
                           <a href="{% url 'saved_address' %}" class="list-group-item"><i class="bi bi-pin-map me-2"></i>Saved Address</a>
                           <a href="{% url 'wishlist_cart:wishlist' %}" class="list-group-item"><i class="bi bi-suit-heart me-2"></i>Wishlist</a>
                           <a href="{% url 'view_coupon' %}" class="list-group-item active"><i class="bi bi-suit-heart me-2"></i>Coupon</a>
                        </div>
                     </div>
                  </div>
               </nav>
            </div>
            {% for coupon in coupons %}
            <div class="col-12 col-md-3">
               <div class="card">
                  <div class="coupon">
                     <h3>{{coupon.code}}</h3>
                     <p>Offer : {{coupon.discount}} % </p>
                     <p>Valid until: {{coupon.valid_to}}</p>

                  </div>
               </div>
            </div>
            {% endfor %}

            <!-- Add more columns as needed -->

         </div><!-- end row -->
      </div>
   </section>
</div>
{% endblock %}

