{% extends "userhome/base.html" %}
{% load static %}

{% block head %}
<style>
  .marquee-container {
    background-color: #c6c6c6;
    padding: 5px;
    overflow: hidden;
  }

  .marquee-text {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee-animation 30s linear infinite;
  }
  .coupon-wrapper {
    display: inline;
    margin-right: 200px; 
    }
  

  @keyframes marquee-animation {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .coupon-code {
    background-color: #28a745;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: bold;
  }
</style>
{% endblock %}



{% block category %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="tv-shows.html" data-bs-toggle="dropdown">
    Categories
  </a>
  <div class="dropdown-menu dropdown-large-menu">
    <div class="row">

      <!-- end col-3 -->
      <div class="col-12 col-xl-4">
        <h6 class="large-menu-title">Watchs</h6>
        <ul class="list-unstyled">
          {% for category in categories %}
          <li><a href="{% url 'user_products:products_list' id=category.id type='category' %}">
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- end col-3 -->
      <div class="col-12 col-xl-4 d-none d-xl-block">
        <div class="pramotion-banner1">
          <img src="assets/images/menu-img.webp" class="img-fluid" alt="" />
        </div>
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
</li>
{% endblock %}



{% block content %}

<!--start page content-->
<div class="page-content">
  <!-- <div class="marquee-container">
    <div class="marquee-text">
       {% for coupon in coupons %}
            <div class="coupon-wrapper">
                <strong>Special Offer:</strong> Use coupon code <span class="coupon-code">{{ coupon.code }}</span> for a {{ coupon.discount }}% discount!
                
            </div>
         {% endfor %}
    </div>
</div> -->


  <!--start carousel-->
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      {% for banner in banners%}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ banner.banner_image.url }}" class="d-block w-100" alt="...">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!--end carousel-->





  <!--start tabular product-->
  <section class="product-tab-section section-padding bg-light">
    <div class="container">
      <div class="text-center pb-3">
        <h3 class="mb-0 h3 fw-bold">Latest Products</h3>
        <p class="mb-0 text-capitalize">The purpose of lorem ipsum</p>
      </div>
      <div class="row">
      </div>
      <hr>
      <div class="tab-content tabular-product">

        <div class="tab-pane fade show active" id="new-arrival">
          <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4">
            {% for product in products %}
            <div class="col">
              <div class="card">
                <div class="position-relative overflow-hidden">
                  <div
                    class="product-options d-flex align-items-center justify-content-center gap-2 mx-auto position-absolute bottom-0 start-0 end-0">
                    <a href="javascript:;"><i class="bi bi-heart"></i></a>
                    <a href="{% url 'user_products:add_cart' product.product_varient.first.id %}"><i
                        class="bi bi-basket3"></i></a>
                  </div>
                  {% for product_varient in product.product_varient.all|slice:":1" %}
                  {% for product_image in product_varient.product_images.all|slice:":1" %}
                  <a href="{% url 'user_products:product_detail' product.id %}">
                    <img src="{{ product_image.image.url }}" style="width: 100%; height: 200px;" alt="...">
                  </a>
                  {% endfor %}
                  {% endfor %}
                </div>
                <div class="card-body">
                  <div class="product-info text-center">
                    <h6 class="mb-1 fw-bold product-name">{{product.product_name}}</h6>
                    <div class="product-price d-flex align-items-center gap-2 mt-2">
                      {% if product.offer_price %}
                      <div class="h6 fw-bold">₹{{ product.offer_price }}</div>
                      <div class="h6 fw-light text-muted text-decoration-line-through">₹{{ product.price }}</div>
                          {% if product.offer.first%}
                          <div class="h6 fw-bold text-danger">({{product.offer.first.discount}}% off)</div>
                          {% else %}
                          <div class="h6 fw-bold text-danger">({{product.category.category_offer.first.discount}}% off)</div>
                          {% endif %}
                      {% else %}
                      <div class="h6 fw-bold">₹{{ product.price }}</div>
                      {% endif %}

                  </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>


        </div>

      </div>
    </div>
  </section>
  <!--end tabular product-->

  <!--start Brands-->
  <section class="section-padding">
    <div class="container">
      <div class="text-center pb-3">
        <h3 class="mb-0 h3 fw-bold">Shop By Brands</h3>
        <p class="mb-0 text-capitalize">Select your favorite brands and purchase</p>
      </div>

      <div class="brands">
        <div class="row row-cols-2 row-cols-lg-5 g-4">
          {% for brand in brands %}
          <div class="col">
            <div class="p-3 border rounded brand-box">
              <div class="d-flex align-items-center">
                <a href="{% url 'user_products:products_list' id=brand.id type='brand' %}">
                  <img src="{{brand.brand_image.url}}" class="img-fluid"
                    style="width: 100%; height: 130px; object-fit:fit" alt="">
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <!--end row-->
      </div>

    </div>
  </section>
  <!--end Brands-->

  <!--start cartegory slider-->
  <section class="cartegory-slider section-padding bg-section-2">
    <div class="container">
      <div class="text-center pb-3">
        <h3 class="mb-0 h3 fw-bold">Top Categories</h3>
        <p class="mb-0 text-capitalize">Select your favorite categories and purchase</p>
      </div>

      <div class="cartegory-box">
        {% for category in categories %}
        <a href="{% url 'user_products:products_list' id=category.id type='category' %}">
          <div class="card">
            <div class="card-body">
              <div class="overflow-hidden">
                <img src="{{category.category_image.url}}" class="card-img-top rounded-0"
                  style="width: 100%; height: 200px; object-fit:cover" alt="...">
              </div>
              <div class="text-center">
                <h5 class="mb-1 cartegory-name mt-3 fw-bold">{{category.category_name}}</h5>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--end cartegory slider-->



</div>

{% endblock %}