{% extends 'adminhome/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
<div class="container-fluid pt-4 px-4">
  <h2 class="text-center mb-4">Category Details</h2>
  <a href="{% url 'unlisted_category' %}" class="btn btn-secondary btn-md ms-5 " role="button">Unlisted Category</a>
  
  <div class="container-fluid pt-4 px-4 ">
    <div class="d-flex justify-content-between align-items-center mb-3 px-5">
      <div class="ms-auto"> <!-- Added ms-auto class here -->
        <a href="{% url 'add_category' %}" class="btn btn-primary">Add Category</a>
      </div>
  </div>
    <div class="row g-4">
      <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
          
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">sl.no</th>
                  <th scope="col">Category</th>
                  <th scope="col">image</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for c in category %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ c.category_name }}</td>
                    <td>
                      {% if c.category_image %}
                        <img src="{{ c.category_image.url }}" alt="Category Image" style="width: 150px; height: 150px;">
                      {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'delete_category' c.id %}" class="btn btn-secondary btn-sm" tabindex="-1" role="button" >Unlist</a>
                      <a href="{% url 'edit_category' c.id %}" class="btn btn-secondary btn-sm" tabindex="-1" role="button" >Edit</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}




