{% extends 'adminhome/base.html' %}
{% load static%}

{% block content %}
<div class="container mt-5 p-5">
    <h2 class="text-center mb-4">Product Details</h2>
    <a href="{% url 'brands' %}" class="btn btn-secondary btn-sm mb-2 " role="button">Brands</a>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">sl.no</th>
                    <th scope="col">Brand</th>
                    <th scope="col">image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for brand in brands %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{brand.brand_name}}</td>
                    <td><img src="{{ brand.brand_image.url }}" alt="" style="width: 180px; height: 130px;"></td>
                    <td>
                        <a href="{% url 'list_brand' brand.id%}" class="btn btn-secondary btn-sm" role="button">Restore</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}